@import "tailwindcss";

@font-face {
    font-family: 'sifonn';
    src: url('./fonts/SIFONN_PRO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@theme {
    --color-mint: oklch(96% 0.04 140);
    --color-matcha: oklch(97% 0.035 110);
    --color-sky-blue: oklch(97% 0.05 230);
    --color-lavender: oklch(95% 0.04 300);
    --font-heading: "sifonn", sans-serif;
    --font-sub-heading: "Bebas Neue", sans-serif; /* Creates utility class: font-bebas */
    --font-sans: "Montserrat", sans-serif; /* Creates utility class: font-montserrat */
    --spacing-site: 1400px;
}

/* body.lock-scroll {
  overflow: hidden;
  height: 100dvh;
} */